<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Modal Level: {{ level }}</ion-title>
    <ion-buttons slot="end">
      <ion-button id="close-modal-btn" class="circle-close" mode="md" (click)="close()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
</ion-content>

<ion-footer>
  <ion-toolbar color="white">
    <ion-button fill="clear" (click)="goForward()">
      {{ level ? 'Second Page' : 'First Page' }}
    </ion-button>
  </ion-toolbar>
</ion-footer>
